:root {
  // FONT SIZES
  --font-size-xs: 0.75rem; // 12px
  --font-size-s: 0.875rem; // 14px
  --font-size-m: 1rem; // 16px
  --font-size-l: 1.5rem; // 24px
  --font-size-xl: 2.25rem; // 36px
  --font-size-xxl: 4rem; // 64px

  // COLORS
  --black: #151317;
  --violet: #512689;
  --white: #fff;
  --gray: #808185;
  --gray-light: #f8f8f8;
  --silver: #e6e6e6;
  --red: #ff6161;
  --blue: #0079d3;

  // SIZES
  --header-height: 56px;

  // GUTTERS
  --container-gutter: 0 48px;

  @media screen and (max-width: 576px) {
    --container-gutter: 0 24px;
  }
}
