.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  justify-items: center;
  gap: 24px 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nothing {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: var(--font-size-l);
}
