.wrapper {
  padding-top: 36px;
  padding-bottom: 24px;
}

.title {
  margin-bottom: 16px;
  font-size: var(--font-size-xl);
  text-align: center;

  @media screen and (max-width: 576px) {
    font-size: var(--font-size-l);
  }
}
