.header {
  background-color: var(--blue);
  height: var(--header-height);
  color: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow:
    rgb(0 0 0 / 20%) 0 2px 4px -1px,
    rgb(0 0 0 / 14%) 0 4px 5px 0,
    rgb(0 0 0 / 12%) 0 1px 10px 0;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: var(--font-size-m);
  font-weight: 500;
  margin: 0;
}
