.card {
  overflow: hidden;
  width: 100%;
  max-width: 256px;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  box-shadow: 0 1px 4px #33333326;
  transition: 0.1s box-shadow ease-in-out;

  &:hover {
    box-shadow: 0 1px 10px #33333326;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.image {
  padding: 16px;
  margin-left: auto;
  margin-right: auto;

  img {
    display: block;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    animation: fade-in 0.5s ease-out forwards;
  }
}

.content {
  padding: 16px;
}

.title {
  font-size: var(--font-size-m);
  font-weight: 700;
  margin-bottom: 8px;
}

.subtitle {
  font-size: var(--font-size-s);
  color: var(--gray);
  opacity: 0.8;
  padding: 16px 16px 0;
}

.body {
  font-size: var(font-size-m);
  color: var(--black);
}
