.cardBody {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: var(--font-size-s);
  font-weight: 700;
}

.likeButton {
  &:hover {
    color: var(--blue);
  }
}

.favorite {
  color: var(--blue);
}
